 .services-feature .services-icon {
  width: 112px;
  height: 112px;
  display: table;
  margin: 0 auto 30px auto;
  background: #f0f5fd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #85919d;
  height: 100%;
  position: relative;
}
/*------------------------------Navigation bars-------------------------------*/
.navbar.navbar-inverse{
  display:flex;
  justify-content:space-between;
  align-items: center; 
  background-color: #2e3537;
  margin-bottom: 0;
}
.navbar.navbar-inverse ul{
  display:flex;
  flex-direction: row;;
}
.navbar-header span{
  font-family: 'Chela One', cursive;
}
.navbar li{
  color: white;
  margin: 5px;
} 
.navbar ul {
  list-style-type: none;
}

.navbar.navbar-default,
.nav.navbar-nav ul li a{
  margin: 0;
  padding:0;
}
.nav.navbar-nav{
  color: #777777;
  float: right;
  display: inline-block;
  margin-right: 20px
  text-align: right;
  font-size: 14px;
  text-decoration: none;
}
.nav.navbar-nav li a{
  margin-top: 0px;
  color:#777777;
  text-align: center;
}

.nav.navbar-nav li a:hover{
  color:#3399ff;
  font-weight: bold;
}

.nav.navbar-nav li a.active {
  background-color: #fed136;
  color: black;
}

.quote li{
  border: 2px blue;
  border-radius: 10%;
  background-color: #3399ff;
  padding: 0px 20px 0px 20px;
  margin-top:13px;
}

.quote li a {
  color:#ffffff;
}

.quote li a:hover{
  font-size: 25px;
  text-decoration: none;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif

}

/* --------------------------------------- Container ----------------------------------*/

/*----------------------------------------Home------------------------------------------*/

#HOME{
  background-attachment: fixed;
  background-color: transparent;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ) ,  url('./images/cover3.jpeg') no-repeat center top;
  background-size: cover;
  color:white;
  text-align: center;
  height: 700px;
}

#HOME img{
  border-radius:60%;
}

.home-central{
  position: relative;
  display: inline-block;
  top:100px;
}
.home-central img{
  width:250px;
}
#HOME .home-learn-more {
  position: absolute;
  top: 550px;
  left: 45%;
  text-align: center;
}
#HOME .home-learn-more  a {
  display: block;
  width: 45px;
  height: 45px;
  margin: 5px auto;
  padding-top:10px;
  background: #bbbbbb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#HOME .home-learn-more a .arrow i {
  top: 10px;
  position: relative;
  color: #fff;
  vertical-align: middle;
}
#AboutUs{
  background: linear-gradient(to top right, white , gray)
}
.Hidden{
  display:none;
}
#Block1{
  margin: 0px 200px 0 200px;
  color: #333;
  text-align: center;
}
