 .services-feature .services-icon {
  width: 112px;
  height: 112px;
  display: table;
  margin: 0 auto 30px auto;
  background: #f0f5fd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

img {
	width:100px;
}