 .services-feature .services-icon {
  width: 112px;
  height: 112px;
  display: table;
  margin: 0 auto 30px auto;
  background: #f0f5fd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #85919d;
  height: 100%;
  position: relative;
}
/*------------------------------Navigation bars-------------------------------*/
.navbar.navbar-inverse{
  display:flex;
  justify-content:space-between;
  align-items: center; 
  background-color: #2e3537;
  margin-bottom: 0;
  display: none;
}
.navbar.navbar-inverse ul{
  display:flex;
  flex-direction: row;;
}
.navbar li{
  color: white;
  margin: 5px;
} 
.navbar ul {

}

.navbar.navbar-default,
.nav.navbar-nav li a{
  margin: 0;
  padding:0;
}
.nav.navbar-nav{
  color: #44434c;
  float: right;
  display: inline-block;
  margin-right: 20px
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}
.nav.navbar-nav li a{
  margin-top: 20px;
  color:#44434c;
  text-align: center;
}

.nav.navbar-nav li a:hover{
  background-color: #ffffff;
  color:#44434c;
  font-weight: bold;
}

.nav.navbar-nav li a.active {
  background-color: #fed136;
  color: black;
}

/*----------------------------------------Home------------------------------------------*/

#HOME{
  background-attachment: fixed;
  background-color: transparent;
  /*background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ) ,  url('./images/cover2.jpeg') no-repeat center top;*/
  background-size: cover;
  background-color:#eeee;
  color:#44434c;
  height: 100%;
  text-align: center;
  border-top: solid black 1px;
    margin-bottom:100px;

}

.home-central{
  margin-top:35px;
  display: flex;
  position: relative;
  top:30px;
  margin-left:150px;
}


.home-central1{
  width:465px;

}
.home-central2{
  display:flex;
  flex-wrap: wrap;
  border-radius:60%;
  margin-left:60px;
  width: 400px;
}

.home-central2 img{
  margin-top:40px;
  margin-left:70px;
  border-radius: 60%;
}
.home-central2 h1{
  margin-left:70px;
}

.secondary_info{
  margin-top:65px;
  font-size: 16px
}
.secondary_info h2{
  margin-right: 140px;
  font-size: 16px
}
@media (min-width: 1281px) {
   #HOME{
    height:480px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
 #HOME{
  height:700px;
 }
}
@media (min-width: 768px) and (max-width: 1024px) {
  
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
}
@media (min-width: 481px) and (max-width: 767px) { 
  
}
@media (min-width: 320px) and (max-width: 480px) {
}

#HOME .home-learn-more {
  margin-top: 20px;
  text-align: center;
  font-style: oblique;

}

/*----------------------------------------About us------------------------------------------*/

#about_us{
  display:flex; 
  flex-wrap: wrap;

}
.nuestra_empresa{
  margin: 0 20px 0 170px;
  font-size: 17px;
  width:300px;

}

.quienes_somos{
  margin: 0 20px 0 20px;
  font-size: 17px;
  width:300px;

}

.experiencia{
  margin: 0 20px 0 20px;
  font-size: 17px;
  width:300px;

}
.nuestra_empresa p{
  display:flex;
  font-style: oblique;
}

.quienes_somos p{
  display:none;
  font-style: oblique;
}

/*----------------------------------------SERVICES------------------------------------------*/
#SERVICES .container{
  display:flex;
  flex-wrap: wrap;
  margin: 0 100px 0 100px;
}
#SERVICES h1{
  width:100%;
    text-align: center;

}
#SERVICES .container .service1, .service2, .service3, .service4, .service5{
  margin:60px;

  width: 250px;
}

#SERVICES .container .service1 p, .service2 p, .service3 p, .service4 p, .service5 p{
  margin: 40px 10px 40px 10px;
  font-style: oblique;
  font-weight: bold
}

.service1{
  border: solid blue 3px;
}
.service2{
  border: solid orange 3px;
}
.service3{
  border: solid green 3px;
}
.service4{
  border: solid yellow 3px;
}
.service5{
  border: solid red 3px;
}
